@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
  font-family: "Inter";
}

html {
  display: flex;
  justify-content: center; 
}

body {
  margin: 0;
  display: flex;
  width:870px;
  background-color: #FFDDD2;
  border: 1px solid #006D77;
}

.content{
  display: flex;
}
.mainContent{
  display: flex;
  width: 560px
}

.btn-addnewpage{
	align-self: flex-end;
  margin: 38px;
}
